{{#each items}}
    <li data-code="{{code}}">
        <div class="am-flexbox am-flexbox-align-top">
            <i class="bank-icon"></i>
            <div class="am-flexbox-item">
                <h2>{{bankName}}</h2>
                <p class="type">储蓄卡</p>
                <p class="bank-code">{{bankcardNumber}}</p>
            </div>
        </div>
    </li>
{{/each}}
