.loading-module-wrap{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    bottom: 0;
}
.loading-module-wrap.loading-has-bottom{
	bottom: 1rem;
}
.loading-module-wrap .loading-module-cont{
	min-width: 1.2rem;
    border-radius: .08rem;
    color: #fff;
    background-color: rgba(58,58,58,.9);
    line-height: 1.5;
    padding: .18rem .3rem;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
    max-width: 50%;
}
.loading-module-wrap .loading-module-cont .loading-module-text{
	font-size: .26rem;
}
